# Ignore Python virtual environment folders
venv/
rapids-env/

# Ignore Python cache files and compiled files
__pycache__/
*.pyc

# Ignore large data and model folders
data/
models/

# Ignore IDE-specific folders (e.g., PyCharm, VSCode)
.idea/
.vscode/

# Ignore NLTK's downloaded data folder
nltk_data/

#Ignore log files
*.log

#Ignore Jupyter Notebooks
*.ipynb